
.headname {
position: absolute;
width: 271px;
height: 63px;
left: 172px;
top: 40px;

font-family: Great Vibes;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;

color: #B2965E;
}